{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% if task %}Edit Task{% else %}Create Task{% endif %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>
<body>
    <h1>{% if task %}Edit Task{% else %}Create Task{% endif %}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">{% if task %}Update Task{% else %}Create Task{% endif %}</button>
    </form>
    <a href="{% if task %}{% url 'task-detail' task.pk %}{% else %}{% url 'task-list' %}{% endif %}">Cancel</a>
</body>
</html>
